name: Gentoo

on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 15 * *"
  push:
    branches:
      - master
    paths:
      - '.github/workflows/gentoo.yaml'
      - 'gentoo/Dockerfile'

env:
  # REGISTRY_IMAGE: squidcache/buildfarm-gentoo
  REGISTRY_IMAGE: ghcr.io/kinkie/buildfarm-gentoo
  GHCR_REGISTRY: kinkie

jobs:
  build-exclusion-list:
    runs-on: ubuntu-latest
    outputs:
      exclusion: ${{ steps.exclusion.outputs.exclusion }}
    steps:
      - uses: actions/checkout@v6
        name: Check out sources

      - name: Build allowed platforms
        id: exclusion
        run: |
          printf "exclusion=" >> "$GITHUB_OUTPUT"
          make json-exclude-list >> "$GITHUB_OUTPUT"

  build:
    needs: build-exclusion-list
    strategy:
      fail-fast: false
      matrix:
        platform:
          - amd64
          - arm/v7
          - arm64
          - riscv64
        os: [ gentoo ]
        exclude:  ${{ fromJSON(needs.build-exclusion-list.outputs.exclusion) }}

    runs-on: ${{ matrix.platform == 'arm/v7' && 'ubuntu-24.04-arm' || matrix.platform == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-22.04' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=schedule,pattern={{date 'YYMMDD'}}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: ./gentoo
          platforms: linux/${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ env.REGISTRY_IMAGE }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ strategy.job-index }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Determine variable-params
        id: vars
        run: |
          echo "today=`date +%y%m%d`" | tee -a "$GITHUB_OUTPUT"

      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=schedule,pattern={{date 'YYMMDD'}}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)
          docker buildx imagetools create \
            -t ghcr.io/${{ env.GHCR_REGISTRY }}/buildfarm-gentoo:${{ steps.vars.outputs.today }} \
            -t ghcr.io/${{ env.GHCR_REGISTRY }}/buildfarm-gentoo:latest \
            ${{ env.REGISTRY_IMAGE }}:latest

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}
